@{
    ViewBag.Title = "Hour ISS";
}

<div class="container-fluid" id="howTo">
    <div class="container-fluid" id="intro">
        <p class="text-justify">
            <h1 class="display-4" >Have you ever wondered....</h1><br />
            <h2>Where is the ISS?  Where has it been?  What's it like there?<br /><br />
            There's a map for that.  <br /><br />
            Each map marker represents a location the International Space Station has orbited above over the past 24 hours. 
            Scroll down to see the map, then click the markers to view the country, local trending topics, and local tweets when available.
             </h2>
        </p>
    </div>
</div>
<div class="container-fluid" id="mapCard">
    <center>
    <div id="map"></div>
    </center>

</div>
<div class="container-fluid" id="mediaCard">
    <div class="row">
        <div class="col-md-5">
            <h2>It Came From Outer Space</h2>
            <p>Tweets fresh off the ISS.</p>
            <a class="twitter-timeline" data-height="700"  data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/Space_Station"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-5 offset-md-2" id="APODDIV">
            <h2>Astronomy Picture of the Day</h2>
            <p>
                Brought to you by NASA!
            </p>
            <div id="APOD"></div>
        </div>
    </div>
</div>
<div class="container-fluid" id="introCard">

    <div class="container-fluid" id="intro">
        <p class="text-justify">
            <h1 class="display-4">About Hour ISS</h1><hr />
            <h2>
                Since Nov 2, 2000 human beings have had a continuous presence in space aboard the International Space Station. Much has changed in the past 16 years, both for the crew of the ISS and for we humans here on Earth. The ISS stands as one of humankind’s greatest achievements, but it is an achievement that is so far removed from the ordinary person’s day-to-day that it can fade into the background noise of modern life.<br /><br />
                We here at Intuitive Software Solutions feel that the ISS is something that we can all take part in being proud of. To that effect this site is meant to celebrate one of humanity’s most spectacular accomplishments and to try and display the contrast between what’s going on in the twittersphere and what we have high above us in the thermosphere.<br /><br />
                We hope you’ve enjoyed visiting Hour ISS
            </h2>
            </p>
    </div>
    </div>
<div class="container-fluid" id="contactCard"><p class="lead">Completed for DevCodeCamp in Milwaukee, Wi.</p></div>
<div id="dataBinder" data-request-url="@Url.Action("Save", "Home")"></div>
<div id="GetData" data-request-url="@Url.Action("PostData", "Home")"></div>
@Scripts.Render("~/bundles/jquery")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqJjogyccEdtBXxsVHRS8bXLyfg5xVQI&callback=initMap"></script>
<script type="text/javascript" src="~/Scripts/app.js"></script>
<script type="text/javascript" src="~/Scripts/app-wb.js"></script>
<script async defer type="text/javascript" src="~/Scripts/app-map.js"></script>
