@{
    ViewBag.Title = "Hour ISS";
}

<div class="container-fluid" id="mapCard">
    <center>
    <div id="map"></div>
    </center>
</div>
<hr />
<div class="container-fluid" id="mediaCard">
    <div class="row">
        <div class="col-md-5">
            <h2>It Came From Outer Space</h2>
            <p>Tweets fresh off the ISS.</p>
            <a class="twitter-timeline" data-height="700"  data-chrome="noheader nofooter noborders transparent" href="https://twitter.com/Space_Station"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-5 offset-md-2" id="APODDIV">
            <h2>Astronomy Picture of the Day</h2>
            <p>
                Brought to you by NASA!
            </p>
            <div id="APOD"></div>
        </div>
    </div>
</div>
<hr/>
<div class="container-fluid" id="introCard">
    <p class="text-justify">
        <h1 class="display-1">Hello!</h1>
        <h3 class="display-3">here is some information about the ISS</h3>
    </p>
</div>
<hr />
<div class="container-fluid" id="contactCard"><p class="lead">Completed for DevCodeCamp in Milwaukee, Wi.</p></div>
<div id="dataBinder" data-request-url="@Url.Action("Save", "Home")"></div>
<div id="GetData" data-request-url="@Url.Action("PostData", "Home")"></div>
@Scripts.Render("~/bundles/jquery")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqJjogyccEdtBXxsVHRS8bXLyfg5xVQI&callback=initMap"></script>
<script type="text/javascript" src="~/Scripts/app.js"></script>
<script type="text/javascript" src="~/Scripts/app-wb.js"></script>
<script async defer type="text/javascript" src="~/Scripts/app-map.js"></script>
