@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="locations">locations</div>
</div>

<div class="jumbotron">
    <div id="map"></div>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>it came from outer space</h2>
        <p>
            ISS most recent tweets
        </p>
        <a class="twitter-timeline"
           href="https://twitter.com/Space_Station"
           data-chrome="nofooter noborders">

        </a>
    </div>    
    <div class="col-md-5 offset-md-2">
        <h2>astronomy picture of the day</h2>
        <p>
            brought to you by nasa!
        </p>
    </div>
</div>
<div id="dataBinder" data-request-url="@Url.Action("Save", "Home")"></div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/app.js"></script>
<script type="text/javascript" src="~/Scripts/app-map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqJjogyccEdtBXxsVHRS8bXLyfg5xVQI&callback=initMap"></script>
