@{
    ViewBag.Title = "Hour ISS";
}

<div class="jumbotron">
    <div id="map"></div>
</div>

<div class="row">
    <div class="col-md-5">
        <a class="twitter-timeline" data-height="450" href="https://twitter.com/Space_Station">it came from outer space</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>    </div>    
    <div class="col-md-5 offset-md-2" id="APODDIV">
        <h2>astronomy picture of the day</h2>
        <p>
            Brought to you by NASA!
        </p>
        <div id="APOD"></div>
    </div>
</div>
<div id="dataBinder" data-request-url="@Url.Action("Save", "Home")"></div>
<div id="GetData" data-request-url="@Url.Action("PostData", "Home")"></div>
@Scripts.Render("~/bundles/jquery")
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdqJjogyccEdtBXxsVHRS8bXLyfg5xVQI&callback=initMap"></script>
<script type="text/javascript" src="~/Scripts/app.js"></script>
<script type="text/javascript" src="~/Scripts/app-map.js"></script>
