@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="locations">locations</div>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>it came from outer space</h2>
        <p>
            ISS most recent tweets
        </p>
    </div>
    <div class="col-md-5 offset-md-2">
        <h2>astronomy picture of the day</h2>
        <p>
            brought to you by nasa!
        </p>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/app.js"></script>

