body{
    background:#6C7A89;
}
html, body{
    height:100%;
font-family: 'Nunito', sans-serif;
}
.navbar {
    background-color: #68C3A3;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


a{
    color:#68C3A3;
}

input,
select,
textarea {
    max-width: 280px;
}
#map{
    height: 100vh;
    width: 90vw;
}
#map_canvas div div div div div div img{
    visibility: hidden;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

a.twitter-timeline{
  font: normal 12px/18px Helvetica, Arial, sans-serif;
}

a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #68C3A3;
}


#APOD{
   
    width: auto;
}

#APOD:hover div.description {
    display: block;
}
#APOD img{
        max-width: 100%;    
        _width: 100%;
}
.description {
    display: none;
    position: absolute;
    text-align: justify;
    text-overflow:ellipsis;
    top: 30%;
    width:90%;
    padding-left:5%;
    color:white;
}
#howTo{
    min-height:100vh;
    background:#6C7A89;
    color:white;
    padding-top:2%;
    padding-bottom: 2%;
}
#introCard{
    min-height:100vh;
    background:white;
    
    padding-top:2%;
    padding-bottom: 2%;
}

#intro{
    width:70%;
}
#mapCard{
    min-height:100vh;
    background: #E5E3DF;
    padding-top:5%;
    padding-bottom: 5%;

}
#mediaCard{
    min-height:100vh;
    background: #F2F1EF;
    padding-top:2%;
    padding-bottom: 2%;
    
    padding-top:2%;
    padding-bottom: 2%;

}
#contactCard{min-height:20vh;
             background-color:#68C3A3;
             
    padding-top:2%;
    padding-bottom: 2%;
    text-align:center;
}

hr{
    
    background-color: #eee;
    border: 0 none;
    height: 1px;
}
h1,h2{
font-family: 'Crimson Text', serif;
}
h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}

.blockquote{
    font-size:110%;
}

