body {
    padding-top: 20px;
    padding-bottom: 20px;

}

html, body{
    height:100%;
}
.navbar {
    margin-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map{
    height: 680px;
    width: 1024px;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.jumbotron{
    resize: both;
}


#APOD{
   
    width: auto;
}
#APOD img{
        max-width: 100%;    
    _width: 100%;
}
#introCard{
    min-height:100vh;
}
#mapCard{
    min-height:100vh;}
#mediaCard{
    min-height:100vh;}
#contactCard{min-height:20vh;}