
html, body{
    height:100%;
font-family: 'Nunito', sans-serif;
}
.navbar {
    background-color: #68C3A3;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#map{
    height: 680px;
    width: 1024px;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

a.twitter-timeline{
font-family: 'Crimson Text', serif;
}


#APOD{
   
    width: auto;
}
#APOD img{
        max-width: 100%;    
    _width: 100%;
}
#howTo{
    min-height:100vh;
    background:#6C7A89;
    color:white;
}
#introCard{
    min-height:100vh;
}

#intro{
    width:70%;
}
#mapCard{
    min-height:100vh;
    background: #E5E3DF;

}
#mediaCard{
    min-height:100vh;
    background:#F2F1EF;
}
#contactCard{min-height:20vh;
             background-color:#68C3A3;
}

hr{
    
    background-color: #eee;
    border: 0 none;
    height: 1px;
}
h1,h2{
font-family: 'Crimson Text', serif;
}
h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}